.headline {
    font-size:3em;
    font-weight:700;
    text-align: center;
    font-family:"Montserrat", sans-serif;
}

.byline{
    font-size: 1em;
    text-transform:uppercase;
    font-family:"Montserrat", sans-serif;
    text-align: center; 
}

p {
    font-family:Georgia, serif;
    line-height: 180%;

}

.chapterheadline {
    text-align: left;
    font-family:"Montserrat", sans-serif;
    font-weight:700;
    font-size:2em;
}

img {
width: 600px;
height: 600px;
display: block; 
margin-left: auto; 
margin-right: auto;
}

.figcaption {
text-align: center;

}

footer {
text-align: center;
background-color: black;
color: white;
height: 75;

}