.headline {
    font-size:3em;
    font-weight:700;
    text-align: center;
    font-family: Arial, sans-serif;
    color: red;
}

.byline{
    font-size: .75em;
    text-transform:uppercase;
    font-family: 'Times New Roman', serif ;
    text-align: center; 
}

p {
    font-family:Georgia, serif;
    line-height: 180%;

}

.chapterheadline {
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight:700;
    font-size:2em;
}

img {
width: 600px;
height: 600px;
display: block; 
margin-left: auto; 
margin-right: auto;
}

.figcaption {
text-align: center;

}

footer {
text-align: center;
background-color: black;
color: white;
height: 75;

}

.sidebar {
    width: 300px;                
  background-color: #333;      
  color: white;                
  padding: 20px;               
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 

}

.sidebar-content {
    display: flex;
  flex-direction: column;      
  gap: 15px; 
  }

.pullquote {
    color: red; 
    font-style: italic; 
    font-family: 'Georgia', 'Times New Roman', serif; 
    border-left: 4px solid red; 
    padding-left: 10px; 
    margin: 20px 0; 
    font-size: 2em; 
    line-height: 1.5; 
}

.chapterheadline {
    color: red;
}

a {
    color: #0066cc; 
    text-decoration: none;  
  }
  
  /* Hover  */
  a:hover {
    color: #ff6600;  
    text-decoration: underline;  
  }
  
  /* Visited  */
  a:visited {
    color: #800080;  
  }